@import "tailwindcss";

/* Esta línea le dice a Tailwind que queremos cambiar el modo con un botón */
@custom-variant dark (&:is(.dark *));

/* Personalización de la barra de scroll para Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 10px; /* Un poco más fina para que sea elegante */
}

::-webkit-scrollbar-track {
  background: #111827; /* Fondo oscuro (gray-950) para que no distraiga */
}

::-webkit-scrollbar-thumb {
  /* Degradado RGB sutil: Indigo a Cyan */
  background: linear-gradient(180deg, #6366f1, #06b6d4);
  border-radius: 10px;
  border: 2px solid #030014; /* Crea un efecto de separación del borde oscuro profundo */
}

::-webkit-scrollbar-thumb:hover {
  /* Al pasar el mouse, el degradado brilla más */
  background: linear-gradient(180deg, #8b5cf6, #22d3ee);
}

/* Personalización para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9333ea #111827;
}