---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | Antares Tech</title>
        <script is:inline>
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
	</head>
	<body class="bg-gray-100 dark:bg-gray-950 text-gray-900 dark:text-gray-200 font-sans antialiased selection:bg-purple-500/30 transition-colors duration-300">
        <Navbar />
		
        <main>
			<slot />
		</main>
	</body>
</html>